<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-custom-color" href="./#/">
      <img width="100%" src="../assets/images/logo_old.png" />
    </a>
  </div>
</nav> -->

<!-- <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom-color">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PERFEQTA</a>
  <div class="collapse navbar-collapse pull-right" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">App <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/master">Master</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/task">Task</a>
      </li>
    </ul>
  </div>
</nav>
